*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font: 300 16px 'Proxima Nova', Arial, sans-serif;
}

.container {
  display: flex;
  width: 92%;
  max-width: 1180px;
  margin: 0 auto;
}