article.album-item
  .album-item__photo-wrapper
    img(src="/public/img/album_item.jpg").album-item__photo
  .album-item__info
    .album-item__edit
      include ../../public/icons/edit.svg
    .album-item__title Поход в горы