article.photo-item
  .photo-item__photo-wrapper
    img(src="/public/img/album_item.jpg").photo-item__photo
  .photo-item__info
    .photo-item__user
      img(src="/public/img/mini_avatar.jpg").photo-item__user-photo
    .photo-item__descr
      .photo-item__title Путешествие на лодке по озеру
      .photo-item__social
        .photo-item__comments
          .photo-item__comments-icon
            include ../../public/icons/comments.svg
          .photo-item__comments-text 9
        .photo-item__likes
          .photo-item__likes-icon
            include ../../public/icons/like.svg
          .photo-item__likes-text 15
  .photo-item__album
    .photo-item__album-icon
      include ../../public/icons/album.svg
    .photo-item__album-text Прогулки по воде