.user-card
  .user-card__photo-wrapper
    img(src="/public/img/default_avatar.jpg").user-card__photo
  .user-card__info
    .user-card__name Антон Черепов
    .user-card__descr Я веб разработчик. Мне 24 года. Люблю путешествия, кодинг, фриланс и активный отдых.
    .user-card__social
      .user-card__social-icon
        include ../../public/icons/soc_vk.svg
      .user-card__social-icon
        include ../../public/icons/soc_fb.svg
      .user-card__social-icon
        include ../../public/icons/soc_twitter.svg
      .user-card__social-icon
        include ../../public/icons/social_google.svg
      .user-card__social-icon
        include ../../public/icons/soc_email.svg